<%- include("../includes/header.ejs", {title:"View Stage Costs"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="page-header">
    <h1>Stage Costs</h1>
</div>

<br />

<table class="table table-striped">
    <thead>
    <tr><th>Stage Number</th><th>Total Cost</th></tr>
    </thead>
    <tbody>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].stage_id %></td>
        <td><%= result[i].cost %></td>
    </tr>
    <% } %>
    </tbody>

</table>
<a href="/stage/all"><< BACK</a>

<%- include("../includes/footer.ejs"); %>