<%- include("../includes/header.ejs", {title:"View Stage Costs"}); %>
<div class="page-header">
    <h1>Stage Costs</h1>
</div>

<br />

<table class="table table-striped">
    <thead>
    <tr><th>Stage Number</th><th>Total Cost</th></tr>
    </thead>
    <tbody>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].stage_id %></td>
        <td><%= result[i].cost %></td>
    </tr>
    <% } %>
    </tbody>

</table>


<%- include("../includes/footer.ejs"); %>