<%- include("../includes/header.ejs", {title:"Browse - All Notes"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Notebook</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload</a></li>
                <li class="active"><a href="/browse">Browse Notes</a></li>
                <li><a href="/about"> About </a></li>
            </ul>
        </div>
    </div>
</nav>



<table class="table table-striped">
    <thead>
    <tr><th>Topic</th><th>Title</th><th>Date</th><th>Rating</th></tr>
    </thead>
    <tbody>
    <tr>
        <td>CS 460</td>
        <td>Swift Optionals</td>
        <td>04/20/2019</td>
        <td>
            <span class="rating_stars rating_0">
                <span class='s' data-low='1' data-high='1'><i class="fa fa-star-o"></i><i class="fa fa-star"></i></span>
                <span class='s' data-low='2' data-high='2'><i class="fa fa-star-o"></i><i class="fa fa-star"></i></span>
                <span class='s' data-low='3' data-high='3'><i class="fa fa-star-o"></i><i class="fa fa-star"></i></span>
                <span class='s' data-low='4' data-high='4'><i class="fa fa-star-o"></i><i class="fa fa-star"></i></span>
                <span class='s' data-low='5' data-high='5'><i class="fa fa-star-o"></i><i class="fa fa-star"></i></span>

                <span class='r r1' data-rating='1' data-value='1'></span>
                <span class='r r2' data-rating='2' data-value='2'></span>
                <span class='r r3' data-rating='3' data-value='3'></span>
                <span class='r r4' data-rating='4' data-value='4'></span>
                <span class='r r5' data-rating='5' data-value='5'></span>
            </span>
        </td>
    </tr>
    </tbody>
</table>

<!-- <div>
    <input type="checkbox" id="st1" value="1" />
    <label for="st1"></label>
    <input type="checkbox" id="st2" value="2" />
    <label for="st2"></label>
    <input type="checkbox" id="st3" value="3" />
    <label for="st3"></label>
    <input type="checkbox" id="st4" value="4" />
    <label for="st4"></label>
    <input type="checkbox" id="st5" value="5" />
    <label for="st5"></label>
</div> -->


<div class="values">
    <div>
        <label>Rating</label><input type="text" id="rating" value="0" />
    </div>
    <div>
        <label>Rating Value</label><input type="text" name="rating" id="rating_val" value="0" />
    </div>
</div>


<a href="/"><< BACK</a>
<%- include("../includes/footer.ejs"); %>