<%- include("../includes/header.ejs", {title:"Browse - All Notes"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Notebook</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload</a></li>
                <li class="active"><a href="/browse">Browse Notes</a></li>
                <li><a href="/about"> About </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-header">
    <h1>Browse All Notes</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                    <tr class="bg-primary">
                        <td class="text-center" style="font-weight:bold">Computer Science</td>
                    </tr>
                    <tr>
                        <td class = "text-center">
                            <br/>
                            <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                            <a href="/browse/activation">Activation Records</a>
                        </td>
                    </tr>
                    <tr>
                        <td class = "text-center">
                            <span class="rating_stars rating_0">
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Computer Science</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        <a href="/browse/compilers">Compilers</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Computer Science</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        <a href="/browse/hashing">Hashing</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Algebra</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        <a href="./data/sysOfEqns.pdf">Systems of Equations</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                            <span class="rating_stars rating_0">
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s"><i class="fa fa-star-o"></i></span>
                                <span class="s"><i class="fa fa-star-o"></i></span>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Ethnic Studies</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        <a href="./data/issueofmigration.pdf">Issue Of Migration</a>
                    </td>
                </tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Biology</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        <a href="./data/photosynthesis.pdf">Photosynthesis</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Computer Science</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        <p>Python Basics</p>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                            <span class="rating_stars rating_0">
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s"><i class="fa fa-star-o"></i></span>
                                <span class="s"><i class="fa fa-star-o"></i></span>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">History</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        <p>The Battle of Stalingrad</p>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Life Science</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        <p>Tectonic Plates</p>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="/"><< BACK</a>
<%- include("../includes/footer.ejs"); %> 