<%- include("../includes/header.ejs", {title:"Browse - All Notes"}); %>

<div class="page-header">
    <h1>Browse All Notes</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                    <tr class="bg-primary">
                        <td class="text-center" style="font-weight:bold">Computer Science</td>
                    </tr>
                    <tr>
                        <td class = "text-center">
                            <br/>
                            <a href="/browse/activation">
                            <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                            Activation Records</a>
                        </td>
                    </tr>
                    <tr>
                        <td class = "text-center">
                            <span class="rating_stars rating_0">
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Computer Science</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <a href="/browse/compilers">
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        Compilers</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Computer Science</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <a href="/browse/hashing">
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        Hashing </a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Algebra</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <a href="/browse/sysequation">
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        Systems of Equations</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                            <span class="rating_stars rating_0">
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s"><i class="fa fa-star-o"></i></span>
                                <span class="s"><i class="fa fa-star-o"></i></span>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Ethnic Studies</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <a href="/browse/migration">
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        Issue Of Migration</a>
                    </td>
                </tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Biology</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <a href="/browse/photosynthesis">
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        Photosynthesis</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Computer Science</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <a href="/browse/emacs">
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        Emacs Reference</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                            <span class="rating_stars rating_0">
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s active-high"><i class="fa fa-star"></i></span>
                                <span class="s"><i class="fa fa-star-o"></i></span>
                                <span class="s"><i class="fa fa-star-o"></i></span>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">History</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <a href="/browse/numerals">
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        Roman Numerals</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class = "table">
                <tbody>
                <tr class="bg-primary">
                    <td class="text-center" style="font-weight:bold">Life Science</td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <br/>
                        <a href="/browse/tectonics">
                        <p><i class="fa fa-file-pdf-o" style="font-size:48px; color:red"></i></p>
                        Plate Tectonics</a>
                    </td>
                </tr>
                <tr>
                    <td class = "text-center">
                        <span class="rating_stars rating_0">
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s active-high"><i class="fa fa-star"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                            <span class="s"><i class="fa fa-star-o"></i></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="margin-bottom:10px">
    <a href="/"><< BACK</a>
</div>

<%- include("../includes/footer.ejs"); %> 