</div>

<!--<footer class="footer">
    <div class="footer-nav">
        <a style="color:white" href="/"> HOME </a> |
        <a style="color:white" href="/about"> ABOUT </a> Copyright &copy; Notebook
    </div>
</footer>-->

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">
            <a href="/"> HOME </a> |
            <a href="/about"> ABOUT </a> Copyright &copy; Notebook
        </p>
    </div>
</div>

</body>

</html>