


</body>

</div>

<footer class="footer">
    <div class="footer-nav">
        <a style="color:white" href="/"> HOME </a> |
        <a style="color:white" href="/about"> ABOUT </a>
        <br/>
        Copyright &copy; Go-Ty Designs
    </div>
</footer>

</html>