<%- include("./includes/header.ejs", {title:"About - Notebook"}); %>

<div class="page-header">
    <h1>About</h1>
</div>

<div> ScribeShare is the crowd sourced note sharing app of with the goal of helping students share knowledge.</div>

<div> Company Name: ScribeShare </div>
<div> Developed by: Tyler Gearing, Evan Levalley, Darin Brown, and Jeff Hultman </div>
<br/>
<a href="/"> << BACK</a>
<%- include("./includes/footer.ejs"); %>