<%- include("./includes/header.ejs", {title: title}); %>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>

    <div class="page-header">
        <h1>Welcome to <%= title%></h1>
    </div>

    <br />
    <a href="/about"> About </a>
    <br />
    <a href="/stage/all">View Stage Information</a>
    <br />
    <a href="/materials/all">View Stage Materials</a>
    <br />


<%- include("./includes/footer.ejs"); %>
