<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br/>

    <a href="/booking/all">View All Bookings</a>
    </br>
    <a href="/artist/all">View All Artists</a>
    <br />
    <a href="/employee/all">View All Employees</a>
    </br>
    <a href="/address/all">Addresses - View All</a>
    <br />


<%- include("./includes/footer.ejs"); %>
