<%- include("./includes/header.ejs", {title: title}); %>

<div class = "page-header" style="text-align:center">
    <h2><%=title%> - Crowd Sourced Notesharing</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="text-align: center">
            <img src="/images/takenotes.png" width="50%"/>
            <p><h3>Take Notes</h3></p>
        </div>
        <div class="col-md-4" style="text-align: center">
            <img src="/images/upload.png" width="50%"/>
            <p><h3>Share</h3></p>
        </div>
        <div class="col-md-4" style="text-align: center">
            <img src="/images/collab.png" width="50%"/>
            <p><h3>Collaborate</h3></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
            <a href="/browse">
                <img src="/images/learn.png" width="50%"/>
                <p>
                    <h3>Learn!</h3>
                </p>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<%- include("./includes/footer.ejs"); %>
