<%- include("./includes/header.ejs", {title: title}); %>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Notebook</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/upload/all">Upload</a></li>
                <li><a href="/browse/all">Browse Notes</a></li>
                <li><a href="/about"> About </a></li>
            </ul>
        </div>
    </div>
</nav>

    <div class="page-header">
        <h1>Welcome to <%= title%></h1>
    </div>
<div><object data="./data/TylerGearingResume2019.pdf" type="application/pdf" width="100%" height="550px"></object></div>



<%- include("./includes/footer.ejs"); %>
