<%- include("../includes/header.ejs", {title:"Thank You"}); %>

<div class="page-header">
    <h1>Thank you for sharing your notes!</h1>
</div>

<a href="/"><< Back</a>
<%- include("../includes/footer.ejs"); %>