<%- include("../includes/header.ejs", {title:"Skill - " + result[0].skill_name}); %>
    <h1>Skill</h1>
    <ul>
        <li><%= result[0].skill_name %></li>
        Description:
            <ul>
                <li><%= result[0].description %></li>
            </ul>
    </ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>