<%- include("../includes/header.ejs", {title:"Thank You"}); %>

<div class="page-header">
    <h1>Thank you for submitting a rating!</h1>
</div>

<a href="/browse"><< Back to Browse All Notes</a>
<%- include("../includes/footer.ejs"); %>