<%- include("../includes/header.ejs", {title:"Address - " + result[0].street}); %>
    <h1>Address</h1>
    <ul>
        <li><%= result[0].street %> <%= result[0].zip_code %></li>
    </ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>